/* Base styles for stickyContainer */
.stickyContainer {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Ensure container height is sufficient */
  background-color: white;
  z-index: 130;
  display: none; /* Default setting to not display on desktop */
  align-items: center;
  justify-content: flex-start;
  border-bottom: rgb(200, 200, 200) 0.5px solid;
}

/* Base styles for hamburgerButton */
.hamburgerButton {
  display: none;
  cursor: pointer;
  background: transparent;
  border: none;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  z-index: 120;
}

/* Media query for devices with a max-width of 768px (tablet landscape and below) */
@media (max-width: 768px) {
  .stickyContainer {
    display: flex; /* Make sticky container visible on mobile devices */
  }
  .hamburgerButton {
    display: flex; /* Ensure button is visible on smaller screens */
  }
}

/* Styles for hamburgerIcon and its children */
.hamburgerIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15px;
  align-items: center;
  margin: 5px;
}

.hamburgerIcon span {
  height: 3px;
  width: 20px;
  background-color: rgb(110, 110, 110); /* Icon color black for visibility */
  transition: all 0.3s ease-in-out;
}

/* Styles for other UI elements */
.menuOverlay {
  position: fixed;
  top: 50px;
  left: 0;
  width: 90%;
  height: calc(100% - 50px);
  background-color: white;
  border-top: rgb(200, 200, 200) 0.5px solid;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 104;
  padding: 25px;
  transform: translateX(-100%); /* Start off-screen to the left */
  transition: transform 0.1s ease-out; /* Smooth slide-in effect */
}

.shadowOverlay {
  content: "";
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%; /* Full width */
  height: 100%;
  background: rgba(0, 0, 0, 0.674);
  z-index: 103; /* Below the menu, initially visible */
  opacity: 1; /* Fully visible */
  transition: opacity 0.1s ease; /* Smooth fade-out transition */
}

.menuList {
  list-style: none;
  text-align: left;
  padding: 0;
  width: 100%;
  margin: 0;
}

.menuList li {
  margin-bottom: 15px;
}

.menuList li a {
  color: rgb(110, 110, 110);
  font-size: 20px;
  text-decoration: none;
  display: block;
}

.closeIcon {
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 30px;
  color: rgb(110, 110, 110); /* Black color for close icon */
}

.footerContainer {
  width: 85%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languageIcon {
  position: absolute;
  top: 15px;  /* Adjust according to your design */
  right: 15px; /* Adjust according to your design */
  z-index: 1000; /* Ensure it's above other elements */
  color: rgb(110, 110, 110); /* Black color for close icon */
}

.languageDropdown {
  position: absolute;
  top: 30px;  /* Adjust based on the size of the icon */
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  list-style: none;
}

.languageDropdown li {
  padding: 5px 10px;
  cursor: pointer;
}

.languageDropdown li:hover {
  background-color: #f0f0f0;
}