.stickyContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: rgb(200, 200, 200) 0.5px solid;
  height: 50px; /* Ensure container height is sufficient */
  background-color: transparent;
  z-index: 130;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hamburgerButton {
  display: none;
  cursor: pointer;
  background: transparent;
  border: none;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  z-index: 120;
}

@media (max-width: 768px) {
  .hamburgerButton {
    display: flex; /* Ensure button is visible on smaller screens */
  }
}

.hamburgerIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  align-items: center;
}

.hamburgerIcon span {
  height: 3px;
  width: 25px;
  background-color: #000000; /* Icon color black for visibility */
  transition: all 0.3s ease-in-out;
}

.menuOverlay {
  position: fixed;
  top: 50px; /* Start the overlay right below the sticky container */
  left: 0;
  width: 90%;
  height: calc(100% - 50px); /* Reduce height to adjust for top position */
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 104;
  padding: 20px;
}

.shadowOverlay {
  content: "";
  position: fixed;
  top: 0;
  left: 90%;
  width: 15%;
  height: 100%;
  background: rgba(0, 0, 0, 0.715); /* Semi-transparent black shadow */
  z-index: 102; /* Adjust as needed to fit your z-index structure */
}

.menuList {
  list-style: none;
  text-align: left;
  padding: 0;
  width: 100%;
  margin: 0; /* Adjust margin if necessary */
}

.menuList li {
  margin-bottom: 15px;
}

.menuList li a {
  color: black;
  font-size: 24px;
  text-decoration: none;
  display: block;
}


.closeIcon {
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 25px;
  color: #000000; /* Black color for close icon */
}
