/* Gallery container with three flexbox columns */
.imageGallery {
  display: flex;
  justify-content: space-between; /* Evenly space the columns */
  gap: 16px; /* Space between columns */
  margin-top: -320px;
  padding: 20px;
}

.column1, .column2, .column3 {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Space between items in each column */
}

.column1 {
  margin-top: 225px;
}

.column3 {
  margin-top: 175px;
}

.galleryItem {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the entire container */
  display: block;
}

.galleryItem img {
  width: 100%; /* Makes sure the images fit the column's width */
  height: 200px; /* Fixed height for all images */
}

.whiterDiv {
  position: absolute; /* Position it relative to the main container */
  top: 2px; /* Adjust based on the height of the stickyContainer (Hamburger Menu) */
  left: 0;
  width: 100%;
  height: 65px; /* Adjust the height as needed */
  background-color: white;
  z-index: 10; /* Higher z-index to keep it above the other content */
}

@media (max-width: 768px) {
  /* Mobile responsiveness adjustments */
  .imageGallery {
    flex-direction: row; /* Maintain three columns even on smaller screens */
    flex-wrap: nowrap; /* Prevents wrapping of columns */
  }


  .column1 {
    margin-top: 225px; /* Custom margin top for column 1 */
  }

  .column2 {
    margin-top: 0; /* Standard top margin for column 2, adjust if necessary */
  }

  .column3 {
    margin-top: 175px; /* Custom margin top for column 3 */
  }

  .galleryItem img {
    height: auto; /* Make height responsive */
  }
}
