.container {
  max-width: 560px;
  margin: 60px auto;
  background: white;
  display: flex;
  flex-direction: column;
  gap:40px;
}

.bookTitle {
  text-align: center;
  color: #00b55e;
  font-family: 'Monoton', cursive;
}

.backButton {
  background-color: #ccc !important;
  color: #fff !important;
}

.backButton:hover {
  background-color: #bbb !important;
  color: #fff !important;
}

.confirmationMessage {
  text-align: center;
  padding: 50px;
  font-size: 1.2em;
}

.confirmationButton {
  background-color: #00b55e !important;
  color: #fff !important;
}

.primaryButton {
  background-color: #00b55e !important;
  color: #fff !important;
}

.primaryButton:hover {
  background-color: #008c4a !important;
  color: #fff !important;
}

.stepIcon {
  color: #ccc;
}

.stepIconActive {
  color: #00b55e !important;
}

.stepIconCompleted {
  color: #00b55e !important;
}

@media (max-width: 768px) {
  .stickyButtons {
    justify-content: flex-end;
    gap: 20px;
    background: white;
    align-items: baseline;
    margin-top: 30px;
    }

    .container {
      max-width: 560px;
      margin: 60px auto;
      background: white;
      display: flex;
      flex-direction: column;
      gap:40px;
    }
    
    .bookTitle {
      text-align: center;
      color: #00b55e;
      font-family: 'Monoton', cursive;
    }

}

