@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Monoton');

body {
  font-family: "Courier", monospace; 
  color: #000000;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Courier", monospace;
  text-transform: uppercase;
}

.font-dancing {
  font-family: 'Monoton', cursive; 
}

.filter-darken {
  filter: brightness(70%); /* Decreases brightness to 70%, adjust as needed */
}

.custom-image-container {
  height: 430px; /* Adjust this value to make the image shorter */
  position: relative; /* Necessary for Image to use layout fill */
  overflow: hidden; /* Ensures no unwanted overflow */
}

.mobile-banner {
  position: relative;
  width: 100%;
  background-color: #fff201; /* Adjusted color for better contrast */
  color: #000;
  font-family: "Bangers", system-ui;
  text-align: center;
  padding: 8px 0;
  margin-top: 14px;
  font-size: 18px;
  z-index: 1000;
  overflow: hidden;
  white-space: nowrap;
}

.mobile-banner span {
  display: inline-block;
  padding-right: 100%; /* Extra padding for smooth exit and re-entry */
  animation: scroll 10s linear infinite; /* Maintained speed */
  animation-delay: 0s; /* No initial delay */
  animation-fill-mode: forwards; /* Ensure it stays visible */
}

@keyframes scroll {
  0% {
    transform: translateX(100%); /* Start from outside the right edge */
  }
  100% {
    transform: translateX(-100%); /* Move to outside the left edge */
  }
}

main {
  background-size: 120%; /* Zoom in by increasing the background size */
  background-position: center;
  background-attachment: fixed; /* Keeps the background fixed during scrolling */
  background-color: white;
  min-height: 100vh; /* Ensures the minimum height of the viewport */
  width: 100vw; /* Width is set to the width of the viewport */
  overflow: hidden; /* Hides both vertical and horizontal overflow */
  position: relative; /* Added to maintain the positioning context */
}

/* Specific styles for mobile devices */
@media (max-width: 767px) {
  main {
    background-size: 140%; /* Further zoom in for mobile devices */
    background-position: center top; /* Adjusts the position for better fit */
  }
}

.navigation-footer {
  width: 100%;
  position: absolute;
  bottom: 20px; /* Adjust as needed for spacing */
  left: 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .navigation-footer {
    display: none;
  }
}
