@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Monoton');

body {
  font-family: "Courier", monospace; 
  color: #000000;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Courier", monospace;
  text-transform: uppercase;
}

.font-dancing {
  font-family: 'Monoton', cursive; 
}

main {
  background-image: url("../assets/sliderimg1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Keeps the background fixed during scrolling */
}


form {

}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.dark-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.swiper-pagination-bullet-active {
  background: wheat !important;
}

.navigation-footer {
  display: none;
}

@media (min-width: 768px) {
  .navigation-footer {
    display: block; 
  }
}
