/* Sticky container at the top of the screen */
.stickyContainer {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  width: 100%;
  height: 20px;
  background-color: transparent;
  z-index: 110; /* Ensure it stays above other content */
  border-bottom: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 120; /* Ensure it stays above other content */
}

/* Remove the sticky container on desktop */
@media (min-width: 769px) {
  .stickyContainer {
    display: none;
  }
}

/* Positioning the hamburger button at the top right of the screen */
.relative {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 120;  /* Ensure it's above the overlay */
  width: auto;  /* Adjust width as necessary */
  height: auto;  /* Adjust height as necessary */
}

/* Global style to initially hide the hamburger button on all devices */
.hamburgerButton {
  display: none; /* Hide by default */
  cursor: pointer;
  background: transparent;
  border: none;
  flex-direction: column;
  justify-content: center;
  padding: 10px;  /* Larger clickable area */
  z-index: 120;  /* Ensure it's higher than the overlay */
}

/* Media query to display the hamburger menu only on screens smaller than 768px */
@media (max-width: 768px) {
  .hamburgerButton {
    display: flex; /* Show the button only on small screens */
  }

  .stickyContainer {
    height: 50px; /* Adjust height for mobile if needed */
  }
}

/* Icon style for the hamburger */
.hamburgerIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;  /* Total height of the icon */
  align-items: center; /* Center the spans horizontally */
}

.hamburgerIcon span {
  height: 3px;
  width: 25px;
  transition: all 0.3s ease-in-out;
}

.whiteIcon span {
  background-color: #ffffff; /* White for main page */
}

.blackIcon span {
  background-color: #000000; /* Black for other pages */
}

.whiteIcon {
  color: #ffffff; /* White for main page */
}

.blackIcon {
  color: #000000; /* Black for other pages */
}

/* Transformations for the open state */
.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open span:nth-child(2) {
  opacity: 0;
}

.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Fullscreen overlay for the menu */
.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 104;  /* Ensure it is below the button */
}

/* Style for the menu list */
.menuList {
  list-style: none;
  text-align: center;
  padding: 0;
}

.menuList li a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  display: block;
  margin: 10px 0;
}

/* Style for the close icon */
.closeIcon {
  font-size: 30px;
  cursor: pointer;
  z-index: 120;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 25px;
}

/* Ensures the close icon is always white */
.closeIcon.white {
  color: #ffffff; /* Ensures the close icon is always white */
}
