.container {
  max-width: 560px;
  padding: 20px; /* Increased padding for better spacing */
  margin: 60px auto;
  background: white;
  
  display: flex;
  flex-direction: column;
}

.form {
  position: relative;
  padding-bottom: 100px; /* To make space for sticky buttons */
}

.pageTitle {
  text-align: center;
  margin-top: 20px;
  color: #00b55e;
}

.backButton {
  background-color: #ccc !important;
  color: #fff !important;
}

.backButton:hover {
  background-color: #bbb !important;
  color: #fff !important;
}

.confirmationMessage {
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
}

.primaryButton {
  background-color: #00b55e !important;
  color: #fff !important;
}

.primaryButton:hover {
  background-color: #008c4a !important;
  color: #fff !important;
}

.textField {
  margin-bottom: 20px; 
  margin-top: 60px;
}

.MuiFormHelperText-root {
  margin-top: 4px; /* Added margin top to keep spacing consistent */
  color: red !important; /* Error message color */
}

.stepIcon {
  color: #ccc;
}

.stepIconActive {
  color: #00b55e !important;
}

.stepIconCompleted {
  color: #00b55e !important;
}

.stickyButtons {
  position: fixed;
  bottom: 80px;
  width: 40%;
  padding: 45px 30px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

@media (max-width: 768px) {
  .stickyButtons {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 45px 45px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
  
}
