.font-dancing {
  font-family: 'Monoton', cursive; 
}

.title {
  font-size: 40px;
  font-family: 'Monoton', cursive;
  line-height: normal;
  margin-bottom: 32px; 
  color: #00b55e;
  text-align: left; 
  white-space: normal; /* Ensure normal word spacing */
  word-spacing: 0.3em; /* Add spacing between words */

  @media (max-width: 767px) {
    text-align: center;
    font-size: 32px; /* Smaller font size for mobile screens */
    word-spacing: 0.2em; /* Adjust word spacing for mobile screens */
  }
}


.subtitle {
  font-size: 24px;
  line-height: normal;
  margin-top: 40px;
  margin-bottom: 32px; 
  color: #00b55e;
  text-align: left; 

  @media (max-width: 767px) {
    text-align: center;
      font-size: 20px; /* Smaller font size for mobile screens */
    
  }
}

.item {
  margin-top: 32px;
  flex-direction: column;
  width: 100%;
}

.itemheading {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.itemdescription {
  padding-right: 70px;
  color: black;
}



